<!DOCTYPE html>
<html>
    <head>
        <title>&pi;car</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href='../static/style.css'/>
        <link rel="shortcut icon" href="../static/rasp-logo.png">
        <script src="../static/car-control.js"></script>
    </head>
    <body>
        <input type="image" src="{{ url_for('video_feed') }}" onkeydown="down()" onkeyup="up()" width="100%"/>
        <button onclick="send_command('true', 'up')">FORWARD</button>
        <button onclick="send_command('false', command)">STOP</button>
        <button onclick="send_command('true', 'down')">BACKWARD</button>

    </body>
</html>
